<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LayoutDemo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <StateOutlet />

    <AntDesign.AntContainer @rendermode="InteractiveWebAssembly"></AntDesign.AntContainer>
    <script src="_framework/blazor.web.js"></script>

    <script>

        // An enhanced load allows users to navigate between different pages
        window.Blazor.addEventListener("enhancedload", function () {
            const stateInputList = document.querySelectorAll('#state input');
            console.log(stateInputList)
            if (stateInputList.length <= 0)
                return;

            document.querySelectorAll('form').forEach(form => {
                var existing = form.querySelectorAll('[data-form]');
                existing.forEach(el => el.remove());

                stateInputList.forEach(state => {
                    let input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('data-form', state.dataset.form)
                    input.setAttribute('name', state.dataset.form);
                    input.setAttribute('value', state.value);

                    form.appendChild(input);
                })
            });
        });
    </script>
</body>

</html>
