@inject StateService State;
@inherits StatefulComponentBase

@if (OnClick.HasDelegate)
{
    <form id="hover-form" method="post" @onsubmit="HandleOnClick" @formname="@($"button_{Id}")" data-enhance>
        <AntiforgeryToken />
        <button @attributes="Attributes" type="submit">@ChildContent</button>
    </form>
}

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void HandleOnClick(EventArgs _)
    {
        OnClick.InvokeAsync();
    }
}
