@inject StateService State;
@inherits StatefulComponentBase


@Render()

@if (OnClick.HasDelegate)
{
    <form method="post" @onsubmit="HandleOnClick" @formname="@($"state_form_{Id}")"  data-enhance>
        <AntiforgeryToken />

        <button style="display:none;" type="submit" id="@($"state_form_{Id}")"></button>
    </form>
}

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; }

    [Parameter]
    public string Tag { get; set; }


    private void HandleOnClick(EventArgs _)
    {
        OnClick.InvokeAsync();
    }

    private RenderFragment Render()
    {
        var submitScript = $@"document.querySelector(""#state_form_{Id}"").click()";
        Attributes.Add("onclick", submitScript);
        return builder =>
        {
            builder.OpenElement(0, Tag);
            builder.AddMultipleAttributes(1, Attributes);
            builder.AddContent(2, ChildContent);
            builder.CloseElement();
        };
    }
}
